.page-navbar-pc {
  line-height: 2.25rem;
  li {
    a {
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
      color: white;
      &:hover {
        color: lightblue;
      }
    }
  }
  & > .nav-item {
    position: relative;
    .nav-link {
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0.75rem;
        left: 0;
        height: 2px;
        width: 1%;
        transition: width 0.5s ease;
        background-color: transparent;
      }
      &:hover {
        &:before {
          background-color: getColor(red, 1);
          width: 75%;
        }
      }
    }
  }
  .sub-menu {
    position: relative;
    & > .nav-link {
      &:after {
        font-family: icomoon;
        content: "\e908";
        color: getColor(grey, 2);
        padding-left: 0.25rem;
      }
    }
    ul {
      border: 1px getColor(grey, 3) solid;
      border-top: none;
      display: none;
      position: absolute;
      li {
        width: 10rem;
        background-color: white;
        &:hover {
          background-color: getColor(grey, 3);
          a {
            color: getColor(red, 1) !important;
          }
        }
        &:not(:last-child) {
          @extend .border-bottom;
        }
        a {
          color: getColor(black, 1);
          padding-left: 1rem;
          padding-left: 1rem;
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}

.input-group {
  input::placeholder {
    color: #cccccc;
  }
}

.page-menu-mobi {

}