.sidebar-topnhacai {
  .bg-white {
    .topnhacai-member {
      &:not(:last-child) {
        border-bottom: 2px dotted getColor(grey, 5);
      }
      &:last-child {
        @extend .pb-5;
      }
      .topnhacai-member-num {
        top: 0.15rem;
        left: 0.65rem;
        font-weight: bold;
      }
    }
    .position-absolute {
      left: 0;
    }
  }
}

.sidebar-soicauvip {
  .sidebar-soicauvip-list {
    list-style: none;
    li {
      &:nth-child(odd) {
        background-color: getColor(blue, 1);
      }
      a {
        color: getColor(black, 1);
        text-decoration: none;
      }
    }
  }
}

.sidebar-news {
  .sidebar-news-title {
    a {
      text-decoration: none;
      color: getColor(black, 1);
    }
  }
}