@function getColor($color, $nth) {
        @return nth(map-get($colors, $color), $nth);
}

$xl: "screen and (min-width: 1200px)";
$lg: "screen and (min-width: 992px) and (max-width: 1199px)";
$mobi: "screen and (max-width: 991px)";
$fonts: (8, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 25, 30, 32, 35, 42);
$colors: (
        grey: (#F4F4F4, #cec9c8, #d9d8d8, #5b5959, #cccccc),
        red: (#b33221,#f70d28, #D0021B, #cc2b2b),
        yellow: (#fde69a, #FFF9DC),
        blue: (#effaff),
        black: (#060606),
        white: (#fff),
        orange: (#ff3e0c),
);
$border-color: #dee2e6;